{% extends 'main_app/bass.html' %}

{% load static %}

{% block content %}

    <!-- main content start -->
    <main class="mt-8 px-4">
      <div>
        <h3 class="text-center text-3xl font-semibold mb-8">ব্লগ</h3>
      </div>

      <div class="lg:w-3/4 md:flex m-auto rounded-md mb-8">
        
        {% for x in blog %}
        <div class="grid md:grid-cols-2 gap-5">
          <div class="bg-[#f5f5f5]">
            <img
              src="{{x.image.url}}"
              alt=""
              class="h-48 md:h-56 lg:h-72 w-full"
            />
            <div class="p-6">
              <a
                href=""
                class="block text-2xl text-navBg font-semibold mb-6 after:h-1 after:w-14 after:block after:bg-navBg after:rounded-e-lg hover:underline"
              >
               {{ x.title }}
              </a>

              <p class="text-sm mb-4">
               {{ x.discription|safe|slice:200 }}
              </p>
              <div class="flex justify-between">
                <a
                  href="{% url 'detalisBlog' x.pk %}"
                  class="br-navBg py-2 px-5 text-white bg-navBg text-xs font-sans rounded-sm hover:underline"
                  >R more</a
                >
                <span class="text-xs text-gray-500 font-sans">{{ x.date|date:"d F Y" }}</span>
              </div>
            </div>
          </div>
          
        </div>
          
        {% endfor %}
          
        
      </div>
    </main>
{% endblock %}
