{% extends 'main_app/bass.html' %}

{% load static %}

{% block content %}

    <!-- main content start -->
    <main class="mt-8">
      <div>
        <h3 class="text-center text-3xl font-semibold mb-4">ক্লাস রুটিন</h3>

        <div class="lg:w-3/4 m-auto p-3">
          <embed
            src="{% static 'pdf/Summer-2022.pdf' %}"
            type="application/pdf"
            class="w-full h-[600px]"
          />
        </div>
        <div class="text-center m-10">
          <a
            href="{% static 'pdf/Summer-2022.pdf' %}"
            class="text-white bg-navBg py-2 px-10 font-sans rounded-md hover:underline"
            >Download PDF</a
          >
        </div>
      </div>
    </main>

{% endblock %}    

   
