
{% extends 'main_app/bass.html' %}

{% load static %}

{% block content %}

    <!-- main content start -->
    <main class="mt-8 px-4">
      <!-- <div>
        <h3 class="text-center text-3xl font-semibold mb-8">ব্লগ</h3>
      </div> -->

      <div class="md:w-2/4 md:flex m-auto rounded-md mb-8">
        <div class="">
          <div class="bg-[#f5f5f5]">
            <img
              src="{{d_blog.image.url}}"
              alt=""
              class="h-56 md:h-64 lg:h-80 w-full"
            />
            <div class="p-6">
              <a
                href=""
                class="block text-2xl text-navBg font-semibold mb-6 after:h-1 after:w-14 after:block after:bg-navBg after:rounded-e-lg hover:underline"
              >
              {{d_blog.title}}
              </a>

              <p class="text-sm mb-4">
                {{ d_blog.discription|safe }}
              </p>
              <div class="text-right">
                <span class="text-xs text-gray-500 font-sans">{{ d_blog.date|date:"d F Y" }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock %}
