<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/img/bangladesh-govt-logo.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        // content: ["./dist/**/*.{html,js}"],
        theme: {
          extend: {
            fontFamily: {
              kalpurush: ["kalpurush", "sans-serif"],
            },
            colors: {
              navBg: "#003D59",
              navHover: "#761116",
              textPrimary: "#0000",
              textSecondary: "#2D86C8",
              footerBg: "#095563",
              iconColor: "#752F90",
            },
          },
        },
      };
    </script>
    <style>
      @font-face {
        font-family: "kalpurush";
        src: url("../static/fonts/kalpurush.ttf");
      }
      body {
        transition: 0.9s;
      }
      .slider {
        width: 100%;
        overflow: hidden;
      }

      .slide {
        display: none;
        text-align: center;
      }
      .slide img {
        height: 360px;
      }
      @media screen and (max-width: 768px) {
        .slide img {
          height: 220px;
        }
      }
    </style>
    <title>দারুশা কলেজ, রাজশাহী</title>
  </head>
  <body class="font-kalpurush">
    <header>
      <div class="h-7 w-full bg-[#006A44]"></div>

      <!-- header top -->
      <div>
        <div class="flex justify-center my-4">
          <img
            src="../static/img/bangladesh-govt-logo.png"
            alt=""
            class="w-20 md:w-24 lg:w-28 mr-3"
          />

          <div class="flex items-center">
            <div>
              <h1
                class="text-3xl md:text-4xl lg:text-5xl font-bold text-[#3E4FA6]"
              >
                দারুশা কলেজ, রাজশাহী
              </h1>
              <h3
                class="text-xs md:text-lg lg:text-2xl mt-1 font-semibold text-center"
              >
                কলেজ কোড : ১১৫৩, কর্ণহার, পবা, রাজশাহী
              </h3>
            </div>
          </div>
        </div>
      </div>

      <!-- navigation menu -->
      <nav class="lg:bg-[#003D59]">
        <div class="lg:hidden text-right px-6">
          <i
            class="fas fa-bars py-1 px-3 text-lg border-2 rounded-md hover:cursor-pointer"
            id="menubtn"
          ></i>
        </div>
        <ul
          class="lg:flex lg:justify-center bg-[#003D59] text-white hidden py-4 lg:py-0"
          id="mobilemenu"
        >
          <li class="border-r border-gray-400">
            <a href="" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >প্রচ্ছদ</a
            >
          </li>
          <li class="border-r border-gray-400 relative group">
            <a
              href="#"
              class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >প্রশাসন <i class="fa-solid fa-caret-down"></i>
            </a>
            <ul
              class="absolute w-full lg:w-max text-black lg:text-white bg-slate-300 lg:bg-navBg z-10 hidden group-hover:block"
            >
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ১</a
                >
              </li>
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ২</a
                >
              </li>
            </ul>
          </li>
          <li class="border-r border-gray-400 relative group">
            <a
              href="#"
              class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >শিক্ষার্থীদের তথ্য <i class="fa-solid fa-caret-down"></i
            ></a>
            <ul
              class="absolute w-full lg:w-max text-black lg:text-white bg-slate-300 lg:bg-navBg z-10 hidden group-hover:block"
            >
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ১</a
                >
              </li>
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ২</a
                >
              </li>
            </ul>
          </li>
          <li class="border-r border-gray-400 relative group">
            <a
              href="#"
              class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >ভর্তি <i class="fa-solid fa-caret-down"></i
            ></a>
            <ul
              class="absolute w-full lg:w-max text-black lg:text-white bg-slate-300 lg:bg-navBg z-10 hidden group-hover:block"
            >
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ১</a
                >
              </li>
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ২</a
                >
              </li>
            </ul>
          </li>
          <li class="border-r border-gray-400">
            <a href="" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >ডাউনলোড</a
            >
          </li>
          <li class="border-r border-gray-400">
            <a href="" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >রুটিন</a
            >
          </li>
          <li class="border-r border-gray-400">
            <a href="" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >ফলাফল</a
            >
          </li>
          <li class="border-r border-gray-400">
            <a href="" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >নোটিশ</a
            >
          </li>
          <li class="border-r border-gray-400">
            <a href="" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >ব্লগ</a
            >
          </li>
          <li class="border-r border-gray-400 relative group">
            <a
              href="#"
              class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >গ্যালারী <i class="fa-solid fa-caret-down"></i
            ></a>
            <ul
              class="absolute w-full lg:w-max text-black lg:text-white bg-slate-300 lg:bg-navBg z-10 hidden group-hover:block"
            >
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ১</a
                >
              </li>
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ২</a
                >
              </li>
            </ul>
          </li>
          <li class="border-r border-gray-400 relative group">
            <a
              href="#"
              class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >বিভিন্ন তথ্য <i class="fa-solid fa-caret-down"></i
            ></a>
            <ul
              class="absolute w-full lg:w-max text-black lg:text-white bg-slate-300 lg:bg-navBg z-10 hidden group-hover:block"
            >
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ১</a
                >
              </li>
              <li>
                <a href="" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
                  >সাব মেনু ২</a
                >
              </li>
            </ul>
          </li>
          <li class="">
            <a href="" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
              >যোগাযোগ</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!-- main content start -->
    <main class="flex flex-col lg:flex-row mt-6 px-4">
      <!-- Left sidebar start-->
      <aside class="lg:w-1/4 p-5 pt-0 order-2 lg:order-1">
        <!-- Notice area start -->
        <section>
          <div class="w-2/4 m-auto lg:w-full">
            <img src="./../static/img/Mujib-Borsho.png" alt="" />
          </div>
          <div class="border-2 border-gray-400 rounded p-2">
            <h3
              class="bg-green-700 text-white text-xs font-sans font-semibold uppercase rounded p-3"
            >
              latest notice
            </h3>
            <div>
              <ul class="text-textSecondary text-xs">
                <li class="p-3 border-b-2">
                  <a href="" class="hover:underline">
                    জীবের মধ্যে সবচেয়ে সম্পূর্ণতা মানুষের। কিন্তু সবচেয়ে
                    অসম্পূর্ণ হয়ে সে জন্মগ্রহণ করে। বাঘ ভালুক তার জীবনযাত্রার
                    পনেরো- আনা</a
                  >
                </li>
                <li class="p-3 border-b-2">
                  <a href="" class="hover:underline">
                    বাঘ ভালুক তার জীবনযাত্রার পনেরো- আনা মূলধন নিয়ে আসে
                    প্রকৃতির মালখানা থেকে। জীবরঙ্গভূমিতে মানুষ এসে দেখা দেয় দুই
                    শূন্য হাতে মুঠো বেঁধে।</a
                  >
                </li>
                <li class="p-3 border-b-2">
                  <a href="" class="hover:underline">
                    জীবের মধ্যে সবচেয়ে সম্পূর্ণতা মানুষের। কিন্তু সবচেয়ে
                    অসম্পূর্ণ হয়ে সে জন্মগ্রহণ করে।
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- links -->
        <section class="mt-6">
          <ul>
            <li class="bg-[#D91F2A]">
              <a
                href=""
                class="block text-xs hover:underline text-white p-3 mb-1"
                ><i class="fa-regular fa-circle-right"></i> ভর্তি তথ্য</a
              >
            </li>
            <li class="bg-[#D91F2A]">
              <a
                href=""
                class="block text-xs hover:underline text-white p-3 mb-1"
                ><i class="fa-regular fa-circle-right"></i> ভর্তি ফরম</a
              >
            </li>
            <li class="bg-[#D91F2A]">
              <a
                href=""
                class="block text-xs hover:underline text-white p-3 mb-1"
                ><i class="fa-regular fa-circle-right"></i> ফটোগ্যালারী</a
              >
            </li>
            <li class="bg-[#D91F2A]">
              <a
                href=""
                class="block text-xs hover:underline text-white p-3 mb-1"
                ><i class="fa-regular fa-circle-right"></i> ভিডিও গ্যালারী</a
              >
            </li>
          </ul>
        </section>

        <!-- Others link start -->
        <section class="mt-6 bg-textSecondary p-4">
          <div class="bg-navBg rounded-md">
            <ul class="p-4">
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  Home</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i> about
                  our school</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  academic</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  teachers & staffs</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  notice</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  results</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  admission form</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  students info</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i> photo
                  gallery</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  videos</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i> all
                  upload file</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i> web
                  mail</a
                >
              </li>
              <li class="border">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans uppercase hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  contact us</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-6">
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="rounded-t-md"
              />
              <button
                class="w-full p-4 bg-[#003D59] text-white text-xs font-sans font-semibold rounded-b-md hover:underline"
              >
                Click here
              </button>
            </a>
          </div>
        </section>

        <!-- teachers corner start -->
        <div class="mt-6 bg-[#F4FBFE]">
          <h3 class="bg-[#006A44] px-3 py-1 text-base text-white mb-1">
            শিক্ষকমনণ্ডলীদের কর্ণার
          </h3>
          <div class="flex p-4 mb-4">
            <div class="w-1/4 lg:w-2/6 text-center">
              <i class="fa-solid fa-user-tie text-5xl"></i>
            </div>

            <div class="w-4/6">
              <ul>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    বাংলা ডিপার্টমেন্ট</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    ইংরেজি ডিপার্টমেন্ট</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    ইংরেজি ডিপার্টমেন্ট</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    ইংরেজি ডিপার্টমেন্ট</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    ইংরেজি ডিপার্টমেন্ট</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- academic information start -->
        <div class="mt-6 bg-[#F4FBFE]">
          <h3 class="bg-[#752F90] px-3 py-1 text-base text-white mb-1">
            একাডেমিক তথ্য
          </h3>
          <div class="flex p-4 mb-4">
            <div class="w-1/4 lg:w-2/6 text-center">
              <i class="fa-regular fa-calendar-days text-5xl"></i>
            </div>
            <div class="w-4/6">
              <ul>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    প্রতিষ্ঠানের ইতিহাস</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    পরীক্ষার ফলাফল</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    নোটিশ</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    ছুটির দিন</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs p-[2px] px-2 hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    একাডেমিক ক্যালেন্ডার</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!--  -->
        <div>
          <h3 class="text-2xl font-bold">ছাত্র/ছাত্রীদের লেখা</h3>
        </div>
      </aside>

      <!-- Main content start -->
      <section class="lg:w-2/4 p-3 pt-0 order-1 lg:order-2">
        <!-- news marquee start -->
        <div class="flex border-2 border-gray-500">
          <div>
            <h4
              class="py-2 px-5 md:px-7 bg-[#D91F2A] text-xs md:text-sm text-white font-sans font-semibold"
            >
              News
            </h4>
          </div>
          <div class="flex items-center">
            <marquee behavior="" direction="" class="text-xs">
              জীবের মধ্যে সবচেয়ে সম্পূর্ণতা মানুষের। কিন্তু সবচেয়ে অসম্পূর্ণ
              হয়ে সে জন্মগ্রহণ করে। বাঘ ভালুক তার জীবনযাত্রার পনেরো- আনা মূলধন
              নিয়ে আসে প্রকৃতির মালখানা থেকে। জীবরঙ্গভূমিতে মানুষ এসে দেখা দেয়
              দুই শূন্য হাতে মুঠো বেঁধে।
            </marquee>
          </div>
        </div>

        <!-- Slider start -->
        <div class="mt-2">
          <div class="slider">
            <div class="slide">
              <img
                src="./../static/img/padma-bridge.jpg"
                alt=""
                class="w-full"
              />
            </div>
            <div class="slide">
              <img
                src="./../static/img/school-photos.jpg"
                alt=""
                class="w-full"
              />
            </div>
          </div>
        </div>

        <!-- school history start -->
        <div class="mt-6">
          <div>
            <h3
              class="bg-gradient-to-r from-textSecondary to-cyan-500 py-1 px-2 text-base text-white mb-1"
            >
              প্রতিষ্ঠানের ইতিহাস
            </h3>
            <div class="flex">
              <div class="w-full">
                <img
                  src="../static/img/school-photos.jpg"
                  alt=""
                  class="inline w-2/6 float-left mr-3"
                />
                <span class="text-xs">
                  আমরা বাংলায় ওয়েব ডেডলপমেন্ট নিয়ে কাজ করতে গিয়ে প্রথম যে
                  সমস্যাটার মুখোমুখি হই, সেটা হলো, বাংলা ডেমো টেক্সট। ইংরেজির
                  জন্য lorem ipsum তো আছে । বাংলার জন্য কি আছে? সেই ধারনা থেকেই
                  বাংলা ডেমো টেক্সট তৈরীর চেষ্টা। HTML এর প্রয়োজনীয় প্রায় সব
                  ফরম্যাটেই বাংলা ডেমো টেক্সট তুলে ধরা হয়েছে। আশা করছি, এরি
                  ক্ষুদ্র প্রচেষ্টা আপনাদের কাজে আসবে। বাংলা ডেমো টেক্সট তৈরীর
                  চেষ্টা। HTML এর প্রয়োজনীয় প্রায় সব ফরম্যাটেই বাংলা ডেমো টেক্সট
                  তুলে ধরা হয়েছে। আশা করছি, এরি ক্ষুদ্র প্রচেষ্টা আপনাদের কাজে
                  আসবে।
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- বাণী -->
        <div class="block md:grid md:grid-cols-2 mt-8">
          <!-- অধ্যক্ষের বাণী -->
          <div class="md:pr-4 mb-4">
            <h3
              class="bg-gradient-to-r from-textSecondary to-cyan-500 py-1 px-2 text-base text-white mb-1"
            >
              অধ্যক্ষের বাণী
            </h3>
            <div>
              <img
                src="../static/img/teacher.jpeg"
                alt=""
                class="inline-block float-left w-28 md:w-2/6 mr-2"
              />
              <span class="text-xs">
                আমরা বাংলায় ওয়েব ডেডলপমেন্ট নিয়ে কাজ করতে গিয়ে প্রথম যে
                সমস্যাটার মুখোমুখি হই, সেটা হলো, বাংলা ডেমো টেক্সট। ইংরেজির জন্য
                lorem ipsum তো আছে । বাংলার জন্য কি আছে? সেই ধারনা থেকেই বাংলা
                ডেমো টেক্সট তৈরীর চেষ্টা। HTML এর প্রয়োজনীয় প্রায় সব ফরম্যাটেই
                বাংলা ডেমো টেক্সট তুলে ধরা হয়েছে। আশা করছি, এরি ক্ষুদ্র
                প্রচেষ্টা আপনাদের কাজে আসবে। lorem ipsum তো আছে । বাংলার জন্য কি
                আছে? সেই ধারনা থেকেই বাংলা ডেমো টেক্সট তৈরীর চেষ্টা। HTML এর
                প্রয়োজনীয় প্রায় সব ফরম্যাটেই বাংলা ডেমো টেক্সট তুলে ধরা হয়েছে।
                আশা করছি, এরি ক্ষুদ্র প্রচেষ্টা আপনাদের কাজে আসবে।
              </span>
            </div>
          </div>

          <!-- উপধ্যক্ষের বাণী -->
          <div class="md:pl-4 mb-4">
            <h3
              class="bg-gradient-to-r from-textSecondary to-cyan-500 py-1 px-2 text-base text-white mb-1"
            >
              উপধ্যক্ষের বাণী
            </h3>
            <div class="w-full">
              <img
                src="../static/img/teacher.jpeg"
                alt=""
                class="inline float-left w-28 md:w-2/6 mr-2"
              />
              <span class="text-xs">
                আমরা বাংলায় ওয়েব ডেডলপমেন্ট নিয়ে কাজ করতে গিয়ে প্রথম যে
                সমস্যাটার মুখোমুখি হই, সেটা হলো, বাংলা ডেমো টেক্সট। ইংরেজির জন্য
                lorem ipsum তো আছে । বাংলার জন্য কি আছে? সেই ধারনা থেকেই বাংলা
                ডেমো টেক্সট তৈরীর চেষ্টা। HTML এর প্রয়োজনীয় প্রায় সব ফরম্যাটেই
                বাংলা ডেমো টেক্সট তুলে ধরা হয়েছে। আশা করছি, এরি ক্ষুদ্র
                প্রচেষ্টা আপনাদের কাজে আসবে। ডেমো টেক্সট তৈরীর চেষ্টা। HTML এর
                প্রয়োজনীয় প্রায় সব ফরম্যাটেই বাংলা ডেমো টেক্সট তুলে ধরা হয়েছে।
                আশা করছি, এরি ক্ষুদ্র প্রচেষ্টা আপনাদের কাজে আসবে।
              </span>
            </div>
          </div>
        </div>

        <!-- main cards -->
        <div class="mt-6">
          <div class="lg:grid lg:grid-cols-2">
            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">ভর্তি/রেজিষ্ট্রেশন</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i class="fa-solid fa-book-open text-4xl text-iconColor"></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এসএসসি (ভোকেশনাল)</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এক নজরে টিএসসির সকন শিক্ষার্থী সংখ্যা</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এইচএসসি (ভোকেশনাল)</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        ডিপ্লোমা-ইন-ইঞ্জিনিয়ারিং</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        আইএলও স্কিলস ২১ প্রজেক্ট</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">পরিক্ষা সংক্রান্ত তথ্য</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i
                    class="fa-solid fa-user-graduate text-4xl text-iconColor"
                  ></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        ডিপ্লোমা-ইন-ইঞ্জিনিয়ারিং</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        পরীক্ষা কমিটি</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এসএসসি (ভোকেশনাল) পরীক্ষা</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এইচএসসি (ভোকেশনাল) পরীক্ষা</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এইচএসসি (সি. এম. টি) পরীক্ষা</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        শর্ট কোর্স (৩৬০ ঘন্টা/৪মাস/৬মাস)</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        সিবিটি এন্ড এ এসেসমেন্ট</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">অফিস আদেশ</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i
                    class="fa-regular fa-clipboard text-4xl text-iconColor"
                  ></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        অফিস আদেশ</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এনওসি</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        কমিটি সকল</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">ইজিপি</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <img src="../static/img/e-gp.png" alt="" class="m-auto" />
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        দরপত্র বিজ্ঞপ্তি/নোটিশ</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        ই-জিপি পোর্টাল</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        ওয়েবমেইল</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        বার্ষিক ক্রয় পরিকল্পনা</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">
                (এপিএ) বার্ষিক কর্মসম্পাদন চুক্তি
              </h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i
                    class="fa-solid fa-chart-simple text-4xl text-iconColor"
                  ></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এপিও কর্ম-পরিকল্পনা</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এপিও ত্রৈমাসিক প্রতিবেদন</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        এপিও নীতিমালা</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">শুদ্ধাচার</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i
                    class="fa-solid fa-people-group text-4xl text-iconColor"
                  ></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        জাতীয় শুদ্ধাচার কৌশল</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        জামালপুর টিএসসির কর্মপরিকল্পনা</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        জাতীয় শুদ্ধাচার কৌশল কমিটি</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        স্বচ্ছ ও সেবামূলক কার্যালয় ঘোষনা</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">তথ্যের অধিকার</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i class="fa-solid fa-globe text-4xl text-iconColor"></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        তথ্য কর্মকর্তা</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        তথ্য অ্যাপ্লিকেশন</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        আপীল আবেদন</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">ডাউনলোড করুন</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i class="fa-solid fa-bullseye text-4xl text-iconColor"></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        ক্লাস রুটিন</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        কোর্স স্ট্রাকচার/সিলেবাস</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        প্রবিধান</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        জিপিএফ আবেদন ফরম</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        বিদেশ ভ্রমণের আবেদন</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        পারিবারিক পেনশন ফর্ম</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        বাংলাদেশ সরকারি ফরম</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">আদেশ এবং গেজেট বিজ্ঞপ্তি</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i
                    class="fa-solid fa-scale-balanced text-4xl text-iconColor"
                  ></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        নিয়োগবিধি, ২০২০ (কারিগরি শিক্ষা অধিদপ্তর)</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        বেতন নির্ধারণের বিধি ২০১৫</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        জাতীয় পেস্কেল গেজেট ২০১৫</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="border-2 p-4 mb-4 bg-[#F5F5F5]">
              <h3 class="text-lg font-bold mb-1">নীতিমালা</h3>
              <div class="flex mb-4">
                <div class="w-1/4 lg:w-1/5 text-center">
                  <i class="fa-solid fa-users text-4xl text-iconColor"></i>
                </div>

                <div class="w-4/5">
                  <ul>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        জাতীয় শিক্ষানীতি ২০১০</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        আইসিটি নীতিমালা ২০১৫</a
                      >
                    </li>
                    <li>
                      <a
                        href=""
                        class="block text-xs p-[2px] px-2 hover:underline"
                        ><i class="fa-solid fa-caret-right text-green-400"></i>
                        জাতীয় দক্ষতা উন্নয়ন নীতি ২০১১</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Main content end -->

      <!-- Right sidebar start -->
      <aside class="lg:w-1/4 p-5 pt-0 order-3">
        <!-- অধ্যক্ষের বাণী -->
        <div>
          <h3 class="bg-[#752F90] px-3 py-1 text-base text-white mb-1">
            অধ্যক্ষের বাণী
          </h3>
          <div class="border-2">
            <a href="">
              <img src="../static/img/teacher.jpeg" alt="" class="w-full" />
              <button class="w-full p-4 text-xs font-semibold hover:underline">
                শাহনাজ পারভিন
              </button>
            </a>
          </div>
        </div>

        <!-- e-srvice centr -->
        <div class="mt-4">
          <h3 class="bg-[#752F90] px-3 py-1 text-base text-white mb-1">
            ই-সার্ভিস সেন্টার
          </h3>
        </div>

        <!-- stay with us -->
        <div class="mt-4">
          <h3 class="bg-[#752F90] px-3 py-1 text-base text-white mb-1">
            আমাদের সাথে থাকুন
          </h3>
          <div>
            <iframe
              src="https://www.facebook.com/"
              scrolling="no"
              frameborder="0"
              allowtransparency="true"
              class="w-full"
            ></iframe>
          </div>
        </div>

        <!-- important link -->
        <div class="mt-6">
          <h3 class="bg-[#752F90] px-3 py-1 text-base text-white mb-1">
            গুরুত্বপূর্ণ লিঙ্ক
          </h3>
          <div>
            <ul>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  শিক্ষা মন্ত্রণালয়</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i> আন্তঃ
                  শিক্ষা বোর্ড</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  ই-বুক</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  আই-বুক</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  কোভিড-১৯ ও ডায়াবেটিকস</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  কারিগরি শিক্ষা অধিদপ্তর</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  বেনবেইস</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  বাংলাদেশ কারিগরি শিক্ষা বোর্ড</a
                >
              </li>
              <li>
                <a href="" class="block text-xs py-1 hover:underline"
                  ><i class="fa-solid fa-circle-check text-green-400"></i>
                  জনপ্রশাসন মন্ত্রণালয়</a
                >
              </li>
            </ul>
          </div>
        </div>

        <!-- hotline nubmer -->
        <div class="mt-8">
          <h3 class="bg-[#752F90] px-3 py-1 text-base text-white mb-1">
            জরুরী হটলাইন
          </h3>
          <div>
            <img
              src="../static/img/National-Helpline.jpg"
              alt=""
              class="m-auto"
            />
          </div>
        </div>

        <!-- official link -->
        <div class="mt-8">
          <div class="mb-4">
            <h3
              class="bg-gradient-to-r from-textSecondary to-cyan-500 py-1 px-2 text-base text-white"
            >
              অফিসিয়াল লিংক
            </h3>
            <div class="bg-[#f5f5f5] py-3 px-5 text-gray-500">
              <ul>
                <li>
                  <a href="" class="block text-xs py-1 hover:underline"
                    ><i class="fa-regular fa-circle-right"></i> শিক্ষা
                    মন্ত্রণালয়</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs py-1 hover:underline"
                    ><i class="fa-regular fa-circle-right"></i> এসএসসি/এইচএসসি
                    ফলাফল</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs py-1 hover:underline"
                    ><i class="fa-regular fa-circle-right"></i> ব্যানবেইজ</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs py-1 hover:underline"
                    ><i class="fa-regular fa-circle-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- important information -->
        <div class="mt-8">
          <div class="mb-4">
            <h3
              class="bg-gradient-to-r from-textSecondary to-cyan-500 py-1 px-2 text-base text-white"
            >
              গুরুত্বপূর্ণ তথ্য
            </h3>
            <div class="bg-[#f5f5f5] py-3 px-5 text-gray-500">
              <ul>
                <li>
                  <a href="" class="block text-xs py-1 hover:underline"
                    ><i class="fa-regular fa-circle-right"></i> ই-বুক</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs py-1 hover:underline"
                    ><i class="fa-regular fa-circle-right"></i> শিক্ষক বাতায়ন</a
                  >
                </li>
                <li>
                  <a href="" class="block text-xs py-1 hover:underline"
                    ><i class="fa-regular fa-circle-right"></i> মাল্টিমিডিয়া
                    ক্লাসরুম ম্যানেজমেন্ট</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
      <!-- Right sidebar end -->
    </main>

    <!-- footer starr -->
    <footer class="bg-footerBg p-4">
      <div class="lg:flex">
        <!-- left -->
        <div class="lg:w-1/4 p-6 mx-4 lg:border-r border-gray-400 mb-4 lg:mb-0">
          <h3
            class="text-white uppercase font-sans mb-4 mx-2 text-center lg:text-left"
          >
            More links
          </h3>
          <div class="grid grid-cols-4 lg:grid-cols-3">
            <div class="p-2 h-16 w-16 m-auto">
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="m-auto"
                />
              </a>
            </div>

            <div class="p-2 h-16 w-16 m-auto">
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="m-auto"
                />
              </a>
            </div>

            <div class="p-2 h-16 w-16 m-auto">
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="m-auto"
                />
              </a>
            </div>

            <div class="p-2 h-16 w-16 m-auto">
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="m-auto"
                />
              </a>
            </div>

            <div class="p-2 h-16 w-16 m-auto">
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="m-auto"
                />
              </a>
            </div>
          </div>
        </div>

        <!-- middle -->
        <div
          class="lg:w-2/4 border-t lg:border-t-0 lg:border-x border-gray-400 p-4 md:p-8 mx-2 md:mx-4 mb-4 lg:mb-0"
        >
          <h3
            class="text-white uppercase font-sans mb-4 mx-2 text-center lg:text-left"
          >
            University of Bangladesh
          </h3>
          <div class="flex">
            <div class="w-1/2">
              <ul>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    University of Dhaka</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    Jahangirnagar University</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    Rajshahi University</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    Begum Rokeya University</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    HSTU</a
                  >
                </li>
              </ul>
            </div>

            <div class="w-1/2">
              <ul>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    University of Chittagong</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    Khulna University</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    Jagannath University</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    Islamic University, Kustia</a
                  >
                </li>
                <li class="border-b">
                  <a
                    href=""
                    class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                    ><i class="fa-solid fa-caret-right text-green-400"></i>
                    BUET</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- right  -->
        <div class="lg:w-1/4 lg:border-l border-gray-400 p-6 mx-4 mb-4 lg:mb-0">
          <h3
            class="text-white uppercase font-sans mb-4 mx-2 text-center lg:text-left"
          >
            contact us
          </h3>
          <div class="grid grid-cols-4">
            <div>
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="rounded-full w-8/12 m-auto"
                />
              </a>
            </div>

            <div>
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="rounded-full w-8/12 m-auto"
                />
              </a>
            </div>

            <div>
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="rounded-full w-8/12 m-auto"
                />
              </a>
            </div>

            <div>
              <a href="">
                <img
                  src="../static/img/digital-content.jpg"
                  alt=""
                  class="rounded-full w-8/12 m-auto"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="bg-black">
      <p class="text-gray-400 p-4 text-center font-sans text-xs">
        &copy; All Rights Reserved by Darusha College, 2023
      </p>
    </div>

    <script src="../static/js/custom.js"></script>
  </body>
</html>
