{% extends 'main_app/bass.html' %}

{% load static %}

{% block content %}

     <!-- main content start -->
     <main class="mt-8 p-4">
      <!-- Main content start -->
      <section class="lg:w-3/4 m-auto">
        <h3 class="text-center text-3xl font-semibold mb-8">পরিচালনা কমিটি</h3>

        <!-- পরিচালনা কমিটি -->
        <div class="mb-8 w-3/6 md:w-2/6 m-auto">
          <div class="bg-[#f5f5f5] rounded-md shadow-md">
            <div>
              <img
                src="../static/img/teacher.jpeg"
                alt=""
                class="w-full h-70 md:h-96 m-auto"
              />
            </div>
            <div class="p-5 mb-3 text-center">
              <h3 class="text-2xl font-semibold text-navBg">মাহবুব হাসান</h3>
              <h4 class="text-sm font-semibold">গ্রাফিক্স ডিজাইনার</h4>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="grid grid-cols-2 md:grid-cols-4">
          <div class="bg-[#f5f5f5] m-3 shadow-md">
            <div>
              <img
                src="../static/img/teacher.jpeg"
                alt=""
                class="w-full h-56 md:h-64 m-auto"
              />
            </div>
            <div class="">
              <div class="p-5 text-center">
                <h3 class="text-xl font-semibold text-navBg">মাহবুব হাসান</h3>
                <h4 class="text-xs font-semibold">গ্রাফিক্স ডিজাইনার</h4>
              </div>
            </div>
          </div>
          <div class="bg-[#f5f5f5] m-3 shadow-md">
            <div>
              <img
                src="../static/img/teacher.jpeg"
                alt=""
                class="w-full h-56 md:h-64 m-auto"
              />
            </div>
            <div class="">
              <div class="p-5 text-center">
                <h3 class="text-xl font-semibold text-navBg">মাহবুব হাসান</h3>
                <h4 class="text-xs font-semibold">গ্রাফিক্স ডিজাইনার</h4>
              </div>
            </div>
          </div>
          <div class="bg-[#f5f5f5] m-3 shadow-md">
            <div>
              <img
                src="../static/img/teacher.jpeg"
                alt=""
                class="w-full h-56 md:h-64 m-auto"
              />
            </div>
            <div class="">
              <div class="p-5 text-center">
                <h3 class="text-xl font-semibold text-navBg">মাহবুব হাসান</h3>
                <h4 class="text-xs font-semibold">গ্রাফিক্স ডিজাইনার</h4>
              </div>
            </div>
          </div>
          <div class="bg-[#f5f5f5] m-3 shadow-md">
            <div>
              <img
                src="../static/img/teacher.jpeg"
                alt=""
                class="w-full h-56 md:h-64 m-auto"
              />
            </div>
            <div class="">
              <div class="p-5 text-center">
                <h3 class="text-xl font-semibold text-navBg">মাহবুব হাসান</h3>
                <h4 class="text-xs font-semibold">গ্রাফিক্স ডিজাইনার</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}    

   
