{% extends 'main_app/bass.html' %}

{% load static %}

{% block content %}
   <!-- main content start -->
    <main class="mt-8 p-4">
        <!-- photo gallery start -->
        <section class="lg:w-full m-auto">
          <h3 class="text-center text-3xl font-semibold mb-8">ছবি গ্যালারী</h3>
  
          <div class="mb-8 m-auto">
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2">
              <div class="mb-2 h-64">
                <a href="../static/img/7.jpeg" data-lightbox="roadtrip">
                  <img
                    src="../static/img/7.jpeg"
                    alt=""
                    class="w-full h-64 rounded-md"
                  />
                </a>
              </div>
              <div class="mb-2 h-64">
                <a href="../static/img/6.jpg" data-lightbox="roadtrip">
                  <img
                    src="../static/img/6.jpg"
                    alt=""
                    class="w-full h-64 rounded-md"
                  />
                </a>
              </div>
              <div class="mb-2 h-64">
                <a href="../static/img/1.jpg" data-lightbox="roadtrip">
                  <img
                    src="../static/img/1.jpg"
                    alt=""
                    class="w-full h-64 rounded-md"
                  />
                </a>
              </div>
              <div class="mb-2 h-64">
                <a href="../static/img/7.jpeg" data-lightbox="roadtrip">
                  <img
                    src="../static/img/7.jpeg"
                    alt=""
                    class="w-full h-64 rounded-md"
                  />
                </a>
              </div>
              <div class="mb-2 h-64">
                <a href="../static/img/7.jpeg" data-lightbox="roadtrip">
                  <img
                    src="../static/img/7.jpeg"
                    alt=""
                    class="w-full h-64 rounded-md"
                  />
                </a>
              </div>
              <div class="mb-2 h-64">
                <a href="../static/img/7.jpeg" data-lightbox="roadtrip">
                  <img
                    src="../static/img/7.jpeg"
                    alt=""
                    class="w-full h-64 rounded-md"
                  />
                </a>
              </div>
            </div>
          </div>
          <!--  -->
        </section>
      </main>
{% endblock %}      