{% extends 'main_app/bass.html' %}


{% block content %}

<!-- main content start -->
<main class="flex flex-col lg:flex-row mt-6 px-4">
    <!-- Left sidebar start-->
    <aside class="lg:w-1/4 p-5 pt-0">
      <form action="">
        <select
          name="class"
          required
          class="w-full border-2 rounded-md p-2 font-sans mb-2"
        >
          <option value="" disabled selected>Select class</option>
          <option value="one"><a href="#">প্রথম শ্রেণী</a></option>
          <option value="two"><a href="#">দ্বিতীয় শ্রেণী</a></option>
          <option value="two"><a href="#">তৃতীয় শ্রেণী</a></option>
          <option value="two"><a href="#">চতুর্থ শ্রেণী</a></option>
          <option value="two"><a href="#">পঞ্চম শ্রেণী</a></option>
          <option value="two"><a href="#">ষষ্ঠ শ্রেণী</a></option>
          <option value="two"><a href="#">সপ্তম শ্রেণী</a></option>
          <option value="two"><a href="#">অষ্টম শ্রেণী</a></option>
          <option value="two"><a href="#">নবম শ্রেণী</a></option>
          <option value="two"><a href="#">দশম শ্রেণী</a></option>
          <option value="two"><a href="#">ইন্টার প্রথম বর্ষ</a></option> 
          <option value="two"><a href="#">দ্বিতীয় প্রথম বর্ষ</a></option>
        </select>
      </form>
    </aside>

    <section class="lg:w-3/4 p-3 pt-0">
      <div class="">
        <table
          class="table-auto w-full border-collapse border border-slate-400"
        >
          <thead>
            <tr class="bg-navBg text-white">
              <th class="p-2 border border-slate-300">রোল নং</th>
              <th class="p-2 border border-slate-300">ছবি</th>
              <th class="p-2 border border-slate-300">নাম</th>
              <th class="p-2border border-slate-300">সেকশন</th>
              <th class="p-2 border border-slate-300">ঠিকানা</th>
              <th class="p-2 border border-slate-300">গার্ডিয়ান মোবাইল</th>
            </tr>
          </thead>
          <tbody class="text-sm">
            
            {% for x in one %}
            <tr>
                <td class="text-center p-2 border border-slate-300">{{x.student_class_roll}}</td>
                <td class="p-1 text-center border border-slate-300">
                  <img
                    src="{{x.student_image.url}}"
                    alt=""
                    class="m-auto w-9"
                  />
                </td>
                <td class="p-2 text-center border border-slate-300">{{ x.student_name }}</td>
                <td class="p-2 text-center border border-slate-300">{{ x.select_sections }}</td>
                <td class="text-center p-2 border border-slate-300">{{ x.address }}</td>
                <td class="text-center p-2 border border-slate-300">{{ x.guardian_number_1 }}</td>
                <td class="text-center p-2 border border-slate-300">{{ x.guardian_number_2 }}</td>
              </tr>
            {% endfor %}
                
            
            
          </tbody>
        </table>
      </div>
    </section>
  </main>

{% endblock %}  