<!-- footer starr -->
<footer class="bg-footerBg p-4">
    <div class="lg:flex">
      <!-- left -->
      <div class="lg:w-1/4 p-6 mx-4 lg:border-r border-gray-400 mb-4 lg:mb-0">
        <h3
          class="text-white uppercase font-sans mb-4 mx-2 text-center lg:text-left"
        >
          More links
        </h3>
        <div class="grid grid-cols-4 lg:grid-cols-3">
          <div class="p-2 h-16 w-16 m-auto">
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="m-auto"
              />
            </a>
          </div>

          <div class="p-2 h-16 w-16 m-auto">
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="m-auto"
              />
            </a>
          </div>

          <div class="p-2 h-16 w-16 m-auto">
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="m-auto"
              />
            </a>
          </div>

          <div class="p-2 h-16 w-16 m-auto">
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="m-auto"
              />
            </a>
          </div>

          <div class="p-2 h-16 w-16 m-auto">
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="m-auto"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- middle -->
      <div
        class="lg:w-2/4 border-t lg:border-t-0 lg:border-x border-gray-400 p-4 md:p-8 mx-2 md:mx-4 mb-4 lg:mb-0"
      >
        <h3
          class="text-white uppercase font-sans mb-4 mx-2 text-center lg:text-left"
        >
          University of Bangladesh
        </h3>
        <div class="flex">
          <div class="w-1/2">
            <ul>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  University of Dhaka</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  Jahangirnagar University</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  Rajshahi University</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  Begum Rokeya University</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  HSTU</a
                >
              </li>
            </ul>
          </div>

          <div class="w-1/2">
            <ul>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  University of Chittagong</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  Khulna University</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  Jagannath University</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  Islamic University, Kustia</a
                >
              </li>
              <li class="border-b">
                <a
                  href=""
                  class="block text-xs text-white py-1 px-2 font-sans hover:underline"
                  ><i class="fa-solid fa-caret-right text-green-400"></i>
                  BUET</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- right  -->
      <div class="lg:w-1/4 lg:border-l border-gray-400 p-6 mx-4 mb-4 lg:mb-0">
        <h3
          class="text-white uppercase font-sans mb-4 mx-2 text-center lg:text-left"
        >
          contact us
        </h3>
        <div class="grid grid-cols-4">
          <div>
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="rounded-full w-8/12 m-auto"
              />
            </a>
          </div>

          <div>
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="rounded-full w-8/12 m-auto"
              />
            </a>
          </div>

          <div>
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="rounded-full w-8/12 m-auto"
              />
            </a>
          </div>

          <div>
            <a href="">
              <img
                src="../static/img/digital-content.jpg"
                alt=""
                class="rounded-full w-8/12 m-auto"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="bg-black">
    <p class="text-gray-400 p-4 text-center font-sans text-xs">
      &copy; All Rights Reserved by Darusha College, 2023
    </p>
  </div>