 <!-- navigation menu -->
 <nav class="lg:bg-[#003D59]">
    <div class="lg:hidden text-right px-6">
      <i
        class="fas fa-bars py-1 px-3 text-lg border-2 rounded-md hover:cursor-pointer"
        id="menubtn"
      ></i>
    </div>
    <ul
      class="lg:flex lg:justify-center bg-[#003D59] text-white hidden py-4 lg:py-0"
      id="mobilemenu"
    >
      <li class="border-r border-gray-400">
        <a href="/" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >প্রচ্ছদ</a
        >
      </li>
      <li class="border-r border-gray-400 relative group">
        <a
          href="#"
          class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >প্রশাসন <i class="fa-solid fa-caret-down"></i>
        </a>
        <ul
          class="absolute w-full lg:w-max text-black lg:text-white bg-slate-300 lg:bg-navBg z-10 hidden group-hover:block"
        >
          <li>
            
            <a href="{% url 'teachers' %}" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
              >শিক্ষক মণ্ডলী</a
            >
          </li>
          <li>
            <a href="{% url 'managing_committee' %}" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
              >পরিচালনা কমিটি</a
            >
          </li>
        </ul>
      </li>
      <li class="border-r border-gray-400">
        <a href="{% url 'students_info' %}" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >শিক্ষার্থীদের তথ্য</a
        >
      </li>
      <li class="border-r border-gray-400">
        <a href="{% url 'admission' %}" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >ভর্তি</a
        >
      </li>
      
      <li class="border-r border-gray-400">
        <a href="{% url 'classRoutine' %}" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >রুটিন</a
        >
      </li>
      <li class="border-r border-gray-400">
        <a href="{% url 'result' %}" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >ফলাফল</a
        >
      </li>
      <li class="border-r border-gray-400">
        <a href="{% url 'notices' %}" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >নোটিশ</a
        >
      </li>
      <li class="border-r border-gray-400">
        <a href="{% url 'blog' %}" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >ব্লগ</a
        >
      </li>
      <li class="border-r border-gray-400 relative group">
        <a
          href="#"
          class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >গ্যালারী <i class="fa-solid fa-caret-down"></i
        ></a>
        <ul
          class="absolute w-full lg:w-max text-black lg:text-white bg-slate-300 lg:bg-navBg z-10 hidden group-hover:block"
        >
          <li>
            <a href="{% url 'photoGallery' %}" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
              >ছবি গ্যালারী</a
            >
          </li>
          <li>
            <a href="{% url 'video_gallery' %}" class="py-2 px-5 block text-sm lg:hover:bg-navHover"
              >ভিডিও গ্যালারী</a
            >
          </li>
        </ul>
      </li>
      
      <li class="">
        <a href="{% url 'contact' %}" class="py-3 px-5 xl:px-6 block text-sm hover:bg-navHover"
          >যোগাযোগ</a
        >
      </li>
    </ul>
  </nav>